.search-result-display {
    padding: 2px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .nested-list {
    list-style-type: none;
    padding-left: 0;
    margin: 1px 0;
  }
  
  .nested-item {
    padding: 1px 0;
  }
  
  .object-container {
    margin-bottom: 1px;
  }
  
  .object-entry {
    margin-left: 1px;
    margin-bottom: 1px;
  }
  
  strong {
    color: #555;
  }
  
  span {
    font-size: 14px;
    color: #333;
  }